
%horisontalCenter {
	margin-left: auto;
	margin-right: auto;
}

@mixin horisontalCenter() {
	margin-left: auto;
	margin-right: auto;
}

#app {
    width: 100%;
    height: auto;
    min-width: 320px;
    text-align: center;
    color: #2c3e50;

    .main-content {
		// min-height: $main-content-block-height;
		width: 100%;
		height: 100%;
		margin-top: 50px;

		.main-content-row {
			width: 90%;
			height: 100%;

			.main-content-container {
				position: relative;
				width: 100%;
			}
		}
	}
}